@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;1,300&display=swap');
:root{
    --custom_yellowLight:#FCD535;
    --custom_yellowText:#C99400;
    --headerDarkTheme:rgb(24, 26, 32);
    --textInputDark:#1E2329;
    --textLightColor:#474D57;
    --textUniqueRedColor:rgb(207, 48, 74);
    --textUniqueGreenColor:rgb(3, 166, 109);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
body{
    position:relative;
}

/* HEADER SECTION */
.b-header{
    width:100%;
    height:64px;
    position:relative;
    display:flex;
    padding-right:2rem;
    padding-left:2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color:var(--textInputDark);
}
.b-header_logo{
    width:14rem;
    height:100%;
    display: grid;
    font-size:2rem;
    place-items: center;
    padding-right: .5rem;
    margin-right: 10px;
}
.b-header_img{
    width:100%;
}

.b-header_nav_1{
    align-items: center;
    display:flex;
    height:100%;
    font-size:1.4rem;
    width:65rem;
}

.b-header_icons_apps{
    display:flex;
    align-items: center;
    width:5rem;
    height:100%;
}
.b-header_crypto{
    display:flex;
    align-items: center;
    width:14rem;
    height:100%;
    justify-content: space-around;
}
.b-header_market{
    display:flex;
    align-items: center;
    width:7rem;
    height:100%;
    justify-content: center;
}
.b-header_trade{
    display:flex;
    align-items: center;
    width:7rem;
    justify-content: space-around;
    height:100%;
}
.b-header_trade>.dropdown{
    margin-left:-10px;
}
.b-header_derivatives{
    display:flex;
    align-items: center;
    width:10rem;
    height:100%;
    justify-content: space-around;
}
.b-header_derivatives>.dropdown{
    margin-left:-10px;
}
.b-header_earn{
    display:flex;
    align-items: center;
    width:6rem;
    height:100%;
    justify-content: space-around;
}
.b-header_earn>.dropdown{
    margin-left:-10px;
}
.b-header_finance{
    display:flex;
    align-items: center;
    width:8rem;
    height:100%;
    justify-content:space-around;
}
.b-header_finance>.dropdown{
    margin-left:-10px;
}
.b-header_nft{
    display:flex;
    align-items: center;
    width:8rem;
    height:100%;
    justify-content:space-around;
}
.dropdown{
    color:#888;
}


.b-header_nav_2{
    display:flex;
    align-items: center;
    font-size:1.4rem;
    height:100%;
    width:38rem;
    margin-left: auto;
}
.b-header_nav_2-section-1{
    width:16.5rem;
    height:inherit;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.b-header_nav_2-section-2{
    width:21.5rem;
    align-items:center;
    display:flex;
    justify-content: space-between;
    height:inherit;
}
.b-header-register{
    height:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    width:7.2rem;
    border-radius:3px;
    background:var(--custom_yellowLight);
}
.b-header_menu-bar{
    display:none;
    cursor:pointer;
}

.apps:hover{
    color:var(--custom_yellowLight)
}
.b-header_crypto_text:hover,
.b-header_market_text:hover,
.b-header_trade_text:hover,
.b-header_derivatives_text:hover,
.b-header_earn_text:hover,
.b-header_finance_text:hover,
.b-header_nft_text:hover{
    color:var(--custom_yellowText);
}
.b-header_crypto_text_mark{
    width:30px;
    height:18px;
    background-color: var(--custom_yellowLight);
    margin-left:5px;
    border-radius:3px ;
    padding:1px 2px;
    font-size:1.2rem;
    text-align: center;
}
.b-header_nft_text_mark{
    width:30px;
    height:18px;
    background-color: var(--custom_yellowLight);
    margin-left:-15px;
    border-radius:3px ;
    padding:1px 2px;
    font-size:1.2rem;
    text-align: center;
}

/* SIDENAV */
.b-sidenav{
    font-family:'Rubik', sans-serif;
    height:100vh;
    width:36rem;
    background:#fff;
    position:fixed;
    top:0;
    right:-36rem;
    z-index:9999;
    transition:400ms ease-in-out;
    overflow-y: scroll;
}


.b-sidenav.show-hide{
    right:0;
    display:none;
}

.b-modal.show-hide{
    display:block;
}
.sidenav-wrapper{
    width:inherit;
}
.b-sidenav-wrapper_close{
    width:100%;
    height:6rem;
    display:flex;
    justify-content: flex-end;
    align-items:center;
}
.b-sidenav-wrapper_close-btn{
    height:2.5rem;
    font-weight:900;
    width:3rem;
    cursor:pointer;
    color:rgb(112, 122, 138);
}
.b-sidenav-wrapper_section-1{
    width:100%;
    height:12rem;
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:column;
    font-size:1.4rem;
}
.b-sidenav-wrapper_section-1__log-in{
    width:100%;
    height:3rem;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:2.5rem;
}

.b-sidenav-wrapper_section-1__register{
    width:94%;
    border-radius:3px;
    display:flex;
    align-items:center;
    justify-content:center;
    height:4rem;
    background:var(--custom_yellowLight);
}

.b-sidenav-wrapper_section-2{
    padding-top:1.5rem;
}
.b-sidenav-wrapper_section-2{
    width:100%;
    display:flex;
    flex-direction:column;
}

.b-sidenav-wrapper_section-2__buy-crypto{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.b-sidenav-wrapper_section-2__buy-crypto:hover{
    background:rgb(245, 245, 245);
}

.b-sidenav-wrapper_section-2__buy-crypto-wrapper{
    width:94%;
    height:6rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size:1.6rem;
}
.b-sidenav-wrapper_section-2__buy-crypto-wrapper--1>div{
    color:#1E2329;
}
.b-sidenav-wrapper_section-2__buy-crypto-wrapper--2{
    color:#1E2329 !important;
}



/* MAIN SECTION */
.b-main{
    font-family: 'Rubik', sans-serif;
}
.b-get_started-wrapper{
    height:100%;
    width:100%;
    position:relative;
    display:grid;
    place-items:center;
}
.b-get_started{
    width:95%;
    height:100%;
    display:flex;
    color:var(--textInputDark);
    max-width:1400px;
    flex-direction:row;
}
.b-get_started--content{
    width:50%;
    height:55rem;
}
.b-get_started-i{
    width:50%;
    height:55rem;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
}
.b-get_started-img{
    width:100%;
    height:100%;
    max-height:45rem;
    min-height:35rem;
    max-width:55rem;
    min-width:50rem;
    background:url("./images/foreground-image-light.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.b-get_started-img.b-get_started-dark{
    width:100%;
    height:100%;
    background:url("./images/foreground-image-dark.png");
    background-size:cover;
}
.b-get_started--content-text{
    font-size:5.5rem;
    font-weight:bolder;
    width:80%;
    letter-spacing: 1.5px;
    padding-top:5rem;
    padding-left:3rem;
}
.b-get_started--content-box{
    width:calc(100% - 3rem);
    height:4.5rem;
    padding-left:3rem;
    margin-top:3rem;
    display:flex;
    position: relative;
}
.b-get_started-input{
    height:100%;
    width:30rem;
    outline:none;
    border-radius: 3px;
    border:1px solid #bbb;
    padding-left:10px;
    margin-right:1.5rem;
}
.b-get_started-input:focus{
    border:1px solid var(--custom_yellowLight);
}

.b-get_started-input:hover{
    border:1px solid var(--custom_yellowLight);
}
.b-get_started-btn{
    height:100%;
    width: 15rem;
    background:var(--custom_yellowLight);
    border-radius: 3px;
    font-size:1.7rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.b-header_theme{
    cursor: pointer;
}
.darkmode_lightmode:hover{
    color:var(--custom_yellowLight);
}

/* STATS */

.b-stats-wrapper{
    width:100%;
    height:100%;
    position:relative;
    display:grid;
    place-items:center;
}
.b-stats{
    width:95%;
    max-width:1400px;
    height:100%;
    display:flex;
    color:var(--textInputDark);
    max-width:1350px;
    flex-direction:row;
    position:relative;
    align-items: center;
}
.b-stats_data{
    height:25rem;
    width:100%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(1, 1fr);
}
.b-stats_data--global{
    padding-left: 3rem;
    display:flex;
    align-items: center;
    justify-content:center;
}
.b-stats_data .b-stats_data--global div{
    height:80%;
    width:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

.b-stats_data .b-stats_data--global div h1{
    font-size:4rem;
    width:100%;
    text-align: left;
}
.b-stats_data .b-stats_data--global div p{
    font-size:1.5rem;
    height:6rem;
    width:100%;
    text-align: left;
}




/* CRYPTOCURRENCIES */

.b-cryptocurrencies-wrapper{
    width:100%;
    height:100%;
    position:relative;
    display:grid;
    place-items:center;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}
.b-cryptocurrencies{
    color:var(--textInputDark);
    width:95%;
    max-width:1400px;
    height:100%;
    position: relative;
    height:62rem;
    padding-left: 1.5rem;
}
.b-crypto{
    height:20rem;
    width:100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.b-crypto--header{
    font-size:4rem;
    grid-column:1/3 ;
    display:flex;
    align-items: center;
    padding-left:1.5rem;
}
.b-crypto--header-2{
    font-weight:bolder;
    font-size:1.4rem;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    color:var(--textLightColor);
}
.b-view-markets{
    height: 6rem;
    width:100%;
    display:flex;
    align-items:center;
    font-weight:bold;
    font-size:1.5rem;
    display:none;
}
.b-crypto--sub_headers{
    display:grid;
    font-size:1.4rem;
    font-weight: 100;
    width:100%;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows:repeat(1,1fr);
    height:4rem;
    padding:0 1.5rem;
}
.b-crypto--sub_headers-head:nth-child(2){
    display:flex;
    justify-content: center;
}
.b-crypto--sub_headers-head:nth-child(3){
    display:flex;
    justify-content: center;
}
.b-crypto--sub_headers-head:nth-child(4){
    display:flex;
    justify-content: flex-end;
}

.b-crypto-coins{
    display:grid;
    font-size:1.7rem;
    font-weight: 100;
    width:100%;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(1,1fr);
    font-weight:400;
}
.b-crypto-coin{
    height:6rem;
    border-radius:3px;
    display:grid;
    padding:0 1.5rem;
}
.b-crypto-coin:nth-child(2){
    place-items:center
}
.b-crypto-coin:nth-child(3){
    place-items:center
}
.b-crypto-coin:nth-child(4){
    place-items:center end;
}

.b-crypto-coin div{
    display: flex;
    align-items: center;
}
.b-crypto-coin div .b-coin_name_abr{
    font-size:1.3rem;
    padding-left:1rem;
    font-weight:100;
}
.b-crypto-coin--green{
    color:var(--textUniqueGreenColor);
}
.b-crypto-coin--red{
    color:var(--textUniqueRedColor)
}






/* SIGNUP BOX   */


.b-signup_box-wrapper{
    height:100%;
    width:100%;
    position:relative;
    display:grid;
    place-items:center;
}

.b-signup_box{
    width:95%;
    max-width:1400px;
    height:12rem;
    padding-left:3rem;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
.b-signup_text{
    font-size:2.4rem;
    width:100%;
    height:5rem;
    display:flex;
    align-items:center;
}
.b-signup-btn{
    height:4rem;
    width: 18rem;
    background:var(--custom_yellowLight);
    border-radius: 4px;
    font-size:1.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}




/* CYRPTO PORTFOLIO  */

.b-crypto_portfolio-wrapper{
    height:100%;
    width:100%;
    position:relative;
    display:grid;
    place-items:center;
}
.b-crypto_portfolio{
    width:95%;
    max-width:1400px;
    padding-top:15rem;
    display:grid;
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 1fr 2fr;
    color:var(--textInputDark);
    gap:1rem;
}
.b-crypto_portfolio-header{
    height:10rem;
    padding-left:3rem;
    padding-right:1rem;
}
.b-crypto_portfolio-header h1{
    height:5rem;
    display:flex;
    align-items:center;
    font-size:3.5rem;
}
.b-crypto_portfolio-header p{
    height:4rem;
    font-size:2rem;
    font-weight:300;
    display:flex;
    align-items:center;
}

.b-crypto_portfolio-img{
    grid-row:1/3;
    grid-column:2/3;
    height:65rem;
    display:flex;
    justify-content:center;
}
.b-crypto_portfolio-img div{
    height:100%;
    width:90%;
    display:flex;
    justify-content:center;
}
.b-crypto_portfolio-content{
    padding-left:3rem;
    margin-top:-5rem;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
}
.b-crypto_portfolio-account{
    height: 12rem;
    display:flex;
}


.b-crypto_portfolio-account-content{
    height:8rem;
    width:calc(100% - 12rem);
    padding-left:2rem;
}
.b-crypto_portfolio-account-content h1{
    height:3rem;
    font-size:2rem;
}
.b-crypto_portfolio-account-content p{
    height:5rem;
    font-size:1.5rem;
}
.b-crypto_portfolio-account-img-1,
.b-crypto_portfolio-account-img-2,
.b-crypto_portfolio-account-img-3{
    width:8rem;
    height:8rem; 
}
.b-crypto_portfolio-account-img-1 img{
    height:100%;
    width:100%;
}
.b-crypto_portfolio-account-img-2 img{
    height:100%;
    width:100%;
}
.b-crypto_portfolio-account-img-3 img{
    height:100%;
    width:100%;
}
.b-crypto_portfolio-btn{
    background:var(--custom_yellowLight);
    height:4rem;
    width:18rem;
    border-radius:4px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.4rem;
}





/* EXPLORE */


.b-explore-wrapper{
    height:100%;
    width:100%;
    position:relative;
    display:grid;
    place-items:center;
}
.b-explore{
    width:95%;
    max-width:1400px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content(30rem) 1fr;
    gap:1rem;
    color:var(--textInputDark);
}
.b-explore-header{
    font-size:2.5rem;
    height:30rem;
    display:flex;
    align-items:center;
    padding-top: 7rem;
    padding-left:3rem;
}
.b-explore-card{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom:5rem;
    column-gap: 2rem;
    padding-left:3rem;
    padding-right:3rem;
}

.b-explore-cards{
    width:100%;
    height:60rem;
    border-radius:8px;
    padding: 2rem;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10rem;
}
.b-explore-cards:hover{
    box-shadow:0 0 3px 3px rgba(0,0,0,.1);
}
.b-explore-card_caption{
    flex-direction:column;
    display:flex;
}
.b-explore-card_img:nth-child(2){
    display:flex;
    align-items:flex-end;
}
.b-explore-card_img img{
    height:20rem;
    width:100%;
    display:block;
}
[class ^= "b-explore-card_caption_wrapper"]{
    display:flex;
}
.b-explore-card_caption_wrapper-1{
    align-items: flex-end;
}
.b-explore-card_caption_wrapper-3{
    align-items: flex-end;
}

.b-explore-card_caption-b h1{
    font-size:2.5rem;
    padding-bottom:1rem;
    width:100%;
}
.b-explore-card_caption-b p{
    font-size:1.6rem;
    width:100%;
    color:var(--textLightColor);
}
.b-explore-card_caption--learn{
    width:100%;
    font-size:1.6rem;
    padding-top: 1rem;
    display:flex;
    align-items:flex-end;
    display:none;
    color:var(--custom_yellowText);
}
.b-explore-cards:hover .b-explore-card_caption--learn{
   display:block;
}
.b-explore-card_caption--learn .arrow{
    font-weight:900;
}
.b-explore-card_caption--learn .learn{
    font-weight:light;
}






/* TRADE  */


.b-trade-wrapper{
    height:100%;
    width:100%;
    position:relative;
    display:grid;
    place-items:center;
    padding-bottom:5rem;
}
.b-trade{
    width:95%;
    max-width:1400px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 1fr;
    color:var(--textInputDark);
}

.b-trade-header{
    height:20rem;
    display:grid;
    padding-top: 7rem;
    padding-left:3rem;
    /* background: red; */
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns: 2fr 1fr;
}


.b-trade-header--main > h1{
    font-size:3.5rem;
}
.b-trade-header--main > div{
    font-size:2rem;
    padding-top:1rem;
}
.b-trade-header--sub{
    /* background:yellow; */
    font-size:1.4rem;
    display:flex;
    font-weight:bold;
    height:5rem;
    justify-content:right;
}

.b-trade-content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.b-trade-content-img{
    width:100%;
    height:50rem;
    /* background:dodgerblue; */
}
.b-trade-content-img div{
    width:100%;
    height:100%;
    background:url("./images/b-trade.png");
    background-size:contain;
    background-repeat:no-repeat;
}

.b-trade-content-section{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding:5rem 2rem;
}

.b-trade--download-section_2{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:1rem;
    place-items:left;
    max-width:50rem;
}
.b-trade--download-section_2 .row{
    display:grid;
    place-items:center;
    font-size:3rem;
    padding-left:1rem;
    width:90%;
}
.b-trade--download-section_2 .row .caption{
    font-size:1.4rem;
}
.b-trade--download-section_2 .row span{
    font-size:3rem;
}
.b-trade--download-section_1{
    height:10rem;
   /*  background:dodgerblue; */
    width:100%;
    max-width:50rem;
    display:flex;
    align-items:center;
    padding: 1.2rem 1.2rem;
    border-radius:5px;
}
.b-trade--download-section_1--scan_qrcode{
    height:100%;
    width:10rem;
    border-radius:5px;
    background:url("./images/binance-qrcode.png");
}
.b-trade--download-section_1--scan_text{
    padding-left:1.2rem;
}
.b-trade--download-section_1--scan_text p{
    font-size:1.6rem;
}
.b-trade--download-section_1--scan_text h2{
    font-size:2.2rem;
}




/* TRUSTED CRYPTO */



.b-trusted_crypto-exchange-wrapper{
    height:100%;
    width:100%;
    position:relative;
    display:grid;
    place-items:center;
}

.b-trusted_crypto-exchange{
    width:95%;
    max-width:1400px;
    display:grid;
    padding-bottom:4rem;
}
.b-trusted_crypto-exchange__header{
    height:30rem;
    display:grid;
    padding-top:12rem;
    padding-left:3rem;
    background: red; 
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns: 2fr .3fr;
}
.b-trusted_crypto-exchange__header-2{
    font-size:1.4rem;
    padding-top:1rem;
    justify-content: center;
    display:flex;
}
.b-trusted_crypto-exchange__header-1 h1{
    font-size:3.5rem;
    font-weight:bolder;
}
.b-trusted_crypto-exchange__header-1 p{
    height:6rem;
    background:lightgreen;
    font-size:1.9rem;
    padding-top:1rem;
}
.b-trusted_crypto-exchange__content{
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
.b-trusted_crypto-exchange__content-1{
    background:lightgreen;
    height:45rem;
    padding-left: 3rem;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    
}
.b-trusted_crypto-exchange__content-2{
    background:dodgerblue;
    height:45rem;
    display:flex;
    justify-content:center;
    padding-left:1rem;
}
.b-trusted_crypto-exchange__content-2 img{
    height:35rem;
    width:55rem;
}
.b-trusted_crypto-exchange__content-1_wrapper{
    width:100%;
    height:13rem;
    background:yellow;
    display:flex;
    align-items:center;
}

.b-trusted_crypto-exchange__content-1_wrapper-img{
    height:6rem;
    width:9rem;
    background:red;
}
.b-trusted_crypto-exchange__content-1_wrapper-caption{
    width:calc(100% - 9rem);
    padding-left:2rem;
}
.b-trusted_crypto-exchange__content-1_wrapper-caption h1{
    font-size:2.1rem;
    padding-bottom:1rem;
}
.b-trusted_crypto-exchange__content-1_wrapper-caption p{
    font-size:1.6rem;
}



/* NEED HELP */
.b-need-help{
    color:var(--textInputDark);
    width:100%;
    position: relative;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 8rem;
    margin-top: 8rem;
}
.b-need-help-section-1{
    height:8rem;
    width:100%;
    margin-top: 4rem;
}
.b-need-help-section-1--header{
    height:4rem;
}
.b-need-help-section-1--header> h1{
    font-size:3.8rem;
}
.b-need-help-section-2{
    width:100%;
    height:15rem;
    display:flex;
    justify-content: space-between;
}


.b-need-help-section-2__chat-support{
    padding:20px 30px;
    display:flex;
}
.b-need-help-section-2__chat-support--img{
    width: 6rem;
    height:6rem;
    background:red;
}
.b-need-help-section-2__chat-support--summary{
    margin-left:15px;
    display:flex;
    flex-direction:column;
}
.b-need-help-section-2__chat-support--summary>h2{
    height:3rem;
    width:28rem;
    font-size:2rem;
}
.b-need-help-section-2__chat-support--summary>p{
    height:4rem;
    width:28rem;
    font-size:1.3rem;
}
.b-need-help-section-2__chat-support--summary>div{
    margin-top:1.5rem;
    height:2rem;
    width:30rem;
    font-size:1.4rem;
    color:var(--custom_yellowText);
}

.b-need-help-section-2__faqs{
    padding:20px 10px;
    display:flex;
}
.b-need-help-section-2__faqs--img{
    width: 6rem;
    height:6rem;
    background:red;
}
.b-need-help-section-2__faqs--summary{
    margin-left:20px;
    display:flex;
    flex-direction:column;
}
.b-need-help-section-2__faqs--summary>h2{
    height:3rem;
    width:28rem;
    font-size:2rem;
}
.b-need-help-section-2__faqs--summary>p{
    height:4rem;
    width:30rem;
    font-size:1.3rem;
}
.b-need-help-section-2__faqs--summary>div{
    margin-top:1.5rem;
    height:2rem;
    width:30rem;
    font-size:1.4rem;
    color:var(--custom_yellowText);
}

.b-need-help-section-2__blog{
    padding:20px 10px;
    display:flex;
}
.b-need-help-section-2__blog--img{
    width: 6rem;
    height:6rem;
    background:red;
}
.b-need-help-section-2__blog--summary{
    margin-left:20px;
    display:flex;
    flex-direction:column;
}
.b-need-help-section-2__blog--summary>h2{
    height:3rem;
    width:30rem;
    font-size:2rem;
}
.b-need-help-section-2__blog--summary>p{
    height:4rem;
    width:30rem;
    font-size:1.3rem;
}
.b-need-help-section-2__blog--summary>div{
    margin-top:1.5rem;
    height:2rem;
    width:28rem;
    font-size:1.4rem;
    color:var(--custom_yellowText);
}
.b-need-help-section-2__blog--summary>div:hover{
    color:var(--custom_yellowLight);
}

.b-start-earning-today{
    height:25rem;
    padding:30px 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.b-start-earning_today--header{
    font-size: 3.5rem;
    height:6rem;
    letter-spacing:1px;
}
.b-start-earning_today--signup{
    width:17rem;
    height:4.8rem;
    background:var(--custom_yellowLight);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
    border-radius: 3px;
    margin-top:15px;
}

.b-binance-chat{
    height:5rem;
    width:5rem;
    background:linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 99.77%);
    position:fixed;
    bottom:3%;
    right:2%;
    transform:translate(-2%,-3%);
    border-radius:32px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    font-family:'Rubik', sans-serif;
    padding:0 5px;
}
.binance-chat-icon{
    color:var(--textInputDark);
    font-size:2rem;
}
.b-binance-chat-text{
    font-weight:400;
    color:var(--textLightColor);
    font-size:1.4rem;
    display:none;
    pointer-events: none;
}
.b-binance-chat:hover .b-binance-chat-text{
    display: block;
}
.b-binance-chat:hover{
    height:5rem;
    width:9.5rem;
    justify-content: space-around;
}








/* MEDIA QUERIES */


@media screen and (max-width:1245px){
    .b-get_started{
        width:100%;
    }
    .b-header_nav_2{
        width:20.5rem;
    }
    .b-header_nav_2-section-1{
        width:16.5rem;
    }
    .b-header_nav_2-section-2{
        width:4rem;
        justify-content: center;
    }
    .b-header_downloads,
    .b-header_english,
    .b-header_usd,
    .b-header_theme{
        display:none;
    }
    .b-header_menu-bar{
        display:block;
    }
    .b-sidenav.show-hide{
        right:0;
        display:block;
    }
    .b-modal{
        position:fixed;
        background:rgba(0, 0, 0, 0.1);
        height:100vh;
        width:100%;
        z-index:8888;
        top:0;
        left:0;
        display:none;
    }

    .b-stats{
        width:100%;
    }
    .b-cryptocurrencies{
        width:100%;
    }
    .b-signup_box{
        width:100%;
    }
    .b-crypto_portfolio{
        width:100%;
    }
    .b-explore{
        width:100%;
    }
    .b-trade{
        width:100%;
    }
    .b-trusted_crypto-exchange{
        width:100%;
    }
    

}



@media screen and (max-width:1060px){
    .b-header_nav_2{
        width:4rem;
    }
    .b-header_log-in,
    .b-header-register{
        display:none;
    }
    .b-header_nav_2-section-1{
        width:0;
        display:none;
    }
    .b-header_menu-bar{
        display:block;
    }
    
}

@media screen and (max-width:1023px){

    .b-get_started{
        flex-direction: column-reverse;
    }
    .b-get_started--content{
        width:100%;
        height:45rem;
    }
    .b-get_started-i{
        width:100%;
    }
    

    .b-stats_data{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(2, 1fr);
    }

    .b-cryptocurrencies{
        width:100%;
    }

    
    .b-signup_box{
        padding:0 2.5rem;
        width:100%;
    }

    .b-crypto_portfolio{
        width:100%;
        grid-template-columns:1fr;
        grid-template-rows: .3fr 1fr 1.15fr;
    }
    .b-crypto_portfolio-header{
        grid-column:1/3;
        max-height: 20rem;
    }
    .b-crypto_portfolio-img{
        height:45rem;
        grid-column: 1/3;
        grid-row:2/3;
    }
    .b-crypto_portfolio-content{
        margin-top:0;
    }
    .b-crypto_portfolio-account:first-child{
        margin-top:2rem;
    }
    .b-crypto_portfolio-account-content{
        width:calc(100% - 8rem);
    }
    
    
    .b-explore-card{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap:4rem;
    }
    .b-explore-cards{
        width:100%;
        height:30rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap:5rem;
    }
    [class ^= "b-explore-card_caption_wrapper"]{
        align-items:center;
    }
    .b-explore-card_caption{
        display:flex;
        height:max-content;
        padding-right:1rem;
    }
    .b-explore-card_img{
        display:flex;
        align-items:center;
    }
    .b-explore-card_img:nth-child(2){
        display:flex;
        align-items:center;
        justify-content: right;
    }

    .b-explore-card_img img{
        width:25rem;
        height:15rem;
    }
    .b-explore-card_caption--learn{
        display:block;
        font-size:1.5rem;
    }
    .b-explore-card_caption-b h1{
        font-size:2.2rem;
    }
    .b-explore-card_caption-b p{
        font-size:1.5rem;
    }

    .b-trade{
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 70rem;
    }
    .b-trade-content{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
    }
    .b-trade-content-img{
        width:100%;
        height:40rem;
    }
    .b-trade-header{
        grid-template-rows:1fr;
        grid-template-columns:1fr;
        height:100%;
    }
    .b-trade-header--sub{
        justify-content:left;
        padding-top:1rem;
    }

    
    .b-trade-content-img div{
        background:url("./images/binance-phone-img-3.png");
        background-size:40% 80%;
        background-repeat:no-repeat;
        background-position:center;
    }
    .b-trade--download-section_2 .row:nth-child(4),
    .b-trade--download-section_2 .row:nth-child(5),
    .b-trade--download-section_2 .row:nth-child(6){
        display:none;
    }

    .b-trusted_crypto-exchange__header{
        grid-template-rows:.6fr .3fr;
        grid-template-columns: 1fr;
    }
    .b-trusted_crypto-exchange__header-2{
        justify-content: flex-start;
    }


    .b-trusted_crypto-exchange__content{
        grid-template-rows: 35rem 1fr;
        grid-template-columns: 1fr;
    }
    .b-trusted_crypto-exchange__content-2{
        grid-row:1/2;
        height:35rem;
    }
    
}

@media screen and (max-width:900px){
    .b-header_nav_1{
        display:none;
    }

}

@media screen and (max-width:768px){

    .b-header{
        padding-right:1.5rem;
        padding-left:1.5rem;
    }

    .b-get_started-i{
        display:none;
    }
    .b-get_started--content-text{
        font-size:4rem;
        width:95%;
        letter-spacing: 0px;
        padding-left:1.5rem;
        padding-right:1.5rem;
    }
    .b-get_started--content-box{
        width:100% ;
        height:10.5rem;
        margin-top:3rem;
        justify-content: space-between; 
        flex-direction: column;
        padding-left:1.5rem;
        padding-right:1.5rem;
    }
    .b-get_started-input{
        height:5.5rem;
        width:100%;
    }
    .b-get_started-btn{
        margin-top:1.2rem;
        height:6rem;
        width: 100%;
    }
    .b-stats_data--global{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .b-stats_data .b-stats_data--global div h1{
        font-size:2.6rem;
    }
    .b-stats_data .b-stats_data--global div p{
        font-size:1.3rem;
    }
    


    .b-crypto-coins{
        font-size:1.4rem;
    }
    .b-crypto--header{
        font-size:2.6rem;
        grid-column:1/4;
    }
    .b-crypto--header-2{
        display:none;
    }
    .b-crypto{
        padding-left:1rem;
        padding-right:1rem;
    }
    .b-crypto-coins .b-crypto-coin:nth-child(4){
        display:none;
    } 
    .b-crypto--sub_headers-head:nth-child(4){
        display:none;
    }
    .b-crypto--sub_headers-head:nth-child(2){
        grid-column: 3/4;
    }
    .b-crypto--sub_headers-head:nth-child(3){
        grid-column:4/5;
    }
    .b-crypto-coin:nth-child(1){
        grid-column: 1/3;
    }
    .b-crypto-coin:nth-child(2){
        grid-column: 3/4;
    }
    .b-crypto-coin:nth-child(3){
        grid-column: 4/5;
    }

    .b-cryptocurrencies{
        width:100%;
        padding-left:.5rem;
        padding-right: 1rem;
    }
    .b-crypto--sub_headers{
        padding:0 1.2rem;
    }
    .b-crypto-coin{
        padding:0 1.2rem;
    }

    .b-crypto--header{
        padding-left:0;
    }
    .b-view-markets{
        padding-left:1.3rem;
        padding-right:1.3rem;
        color:rgb(112, 122, 138);
        display:block;
    }

    .b-signup_box{
        padding:0 1.8rem;
    }
    .b-signup_text{
        font-size:1.9rem;
    }
    .b-signup-btn{
        height:4rem;
        width: 100%;
    }


    .b-crypto_portfolio{
        width:100%;
        grid-template-columns:1fr;
        grid-template-rows: .3fr 1fr 1.4fr;
    }

    .b-crypto_portfolio-account{
        display:flex;
        flex-direction:column;
        height:17rem;
        justify-content:space-between;
        padding-top:2rem;
    }
    .b-crypto_portfolio-account-content{
        padding-left:0;
        width:calc(100% - 1rem) ;
    }
    .b-crypto_portfolio-account-img-1,
    .b-crypto_portfolio-account-img-2,
    .b-crypto_portfolio-account-img-3{
        width:5rem;
        height:5rem; 
    }
    .b-crypto_portfolio-header h1{
        font-size:2.6rem;
    }
    .b-crypto_portfolio-header p{
        font-size:1.4rem;
    }
    .b-crypto_portfolio-header{
        padding-left:1.5rem;
    }
    .b-crypto_portfolio-content{
        padding-left:1.5rem;
    }
    .b-crypto_portfolio-btn{
        width:100%;
    }


    .b-explore-card{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap:4rem;   
        padding-left:1.5rem;
        padding-right:1.5rem;
    }
    .b-explore-header{
        padding-left:1.5rem;
        font-size:1.8rem;
    }
    .b-explore-cards{
        width:100%;
        height:55rem;
        grid-template-columns:1fr;
        grid-template-rows: 1.5fr 1fr;
        gap:2rem;
    }
    [class ^= "b-explore-card_caption_wrapper"]{
        align-items:center;
        justify-content:center;
    }
    .b-explore-card_caption{
        display:flex;
        height:max-content;
        padding-right:1rem;
    }
    .b-explore-card_img{
        display:flex;
        align-items:center;
    }
    .b-explore-card_img:nth-child(2){
        display:flex;
        align-items:center;
        justify-content: right;
    }

    .b-explore-card_img img{
        width:100%;
        height:100%;
    }
    .b-explore-card_caption--learn{
        display:block;
        font-size:1.4rem;
    }
    .b-explore-card_caption-b h1{
        font-size:2rem;
    }
    .b-explore-card_caption-b p{
        font-size:1.4rem;
    }


    .b-trade-header{
        padding-left:1.5rem;
    }
    .b-trade-header--main > h1{
        font-size:2.5rem;
    }
    .b-trade-header--main > div{
        font-size:1.5rem;
        padding-top:1rem;
    }
    .b-trade-header--sub{
        display:none;
    }
    .b-trade--download-section_2 .row:nth-child(7){
        display:none;
    }
    
    .b-trade-content-section{
        
        padding:2rem 1.5rem;
    }
    
     .b-trade-content-img div{
        background:url("./images/binance-phone-img-3.png");
        background-size:50% 80%;
        background-repeat:no-repeat;
        background-position:center;
    }
    .b-trade-content-section{
        grid-template-rows: 11rem 5rem;
    }
    .b-trade--download-section_2{
        grid-row:1/2;
        max-width:100%;
        gap:0;
    }
    .b-trade--download-section_2 .row{
        min-height:8rem;
    }
    .b-trade--download-section_1{
        max-width:100%;
    }


    .b-trusted_crypto-exchange__header{
        padding-left:1.5rem;
        padding-right:1.5rem;
    }
    .b-trusted_crypto-exchange__header-1 h1{
        font-size:2.5rem;
    }
    .b-trusted_crypto-exchange__header-1 p{
        font-size:1.4rem;
    }

    .b-trusted_crypto-exchange__content{
        grid-template-rows: 25rem 1fr;
        grid-template-columns: 1fr;
    }
    .b-trusted_crypto-exchange__content-1{
        padding-left:1rem;
        padding-right:1rem;
    }
    .b-trusted_crypto-exchange__content-2{
        grid-row:1/2;
        height:25rem;
    }
    .b-trusted_crypto-exchange__content-2 img{
        height:25rem;
        width:35rem;
    }
}


