<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy/Sell  Bitcoin, Ether, Altcoins || Cryptocurrency Exchange | Binance</title>
    <link rel="icon" type="image/x-icon" href="./images/binance-favicon.svg">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

    <div class="app">
        <header class="b-header">
            <div class="b-header_logo">
                <img src="./images/binance-logo.png"height="26"class="b-header_img"/>
            </div>
            <div class="b-header_nav_1">
                <div class="b-header_icons_apps">
                    <span class="material-icons apps b-switch-color-theme">apps</span>
                    <span class="material-icons dropdown">arrow_drop_down</span>
                </div>
                <div class="b-header_crypto">
                    <div class="b-header_crypto_text b-switch-color-theme">Buy Crypto</div>
                    <span class="b-header_crypto_text_mark">New</span>
                    <span class="material-icons dropdown">arrow_drop_down</span>
                </div>
                <div class="b-header_market">
                    <div class="b-header_market_text b-switch-color-theme">Markets</div>
                </div>
                <div class="b-header_trade">
                    <div class="b-header_trade_text b-switch-color-theme">Trade</div>
                    <span class="material-icons dropdown">arrow_drop_down</span>
                </div>
                <div class="b-header_derivatives">
                    <div class="b-header_derivatives_text b-switch-color-theme">Derivatives</div>
                    <span class="material-icons dropdown">arrow_drop_down</span>
                </div>
                <div class="b-header_earn">
                    <div class="b-header_earn_text b-switch-color-theme">Earn</div>
                    <span class="material-icons dropdown">arrow_drop_down</span>
                </div>
                <div class="b-header_finance">
                    <div class="b-header_finance_text b-switch-color-theme">Finance</div>
                    <span class="material-icons dropdown">arrow_drop_down</span>
                </div>
                <div class="b-header_nft">
                    <div class="b-header_nft_text  b-switch-color-theme">NFT</div>
                    <span class="b-header_nft_text_mark">New</span>
                </div>
            </div>
            <div class="b-header_nav_2">
                <div class="b-header_nav_2-section-1">
                    <div class="b-header_log-in b-switch-color-theme">Log In</div>
                    <div class="b-header-register">Register</div>
                </div>
                <div class="b-header_nav_2-section-2">
                    <div class="b-header_downloads b-switch-color-theme">Downloads</div>
                    <div class="b-header_english b-switch-color-theme">English</div>
                    <div class="b-header_usd b-switch-color-theme">USD</div>
                    <div class="b-header_theme"><span class="material-icons darkmode_lightmode">dark_mode</span></div>
                    <div class="b-header_menu-bar b-switch-color-theme"><span class="material-icons">menu</span></div>
                </div>
            </div>
        </header>
        <div class="b-modal"></div>
        <header class="b-sidenav">
            <div class="b-sidenav-wrapper">
                <div class="b-sidenav-wrapper_close">
                    <span class="material-icons b-sidenav-wrapper_close-btn">close</span>
                </div>
                <div class="b-sidenav-wrapper_section-1">
                    <div class="b-sidenav-wrapper_section-1__log-in">Log in</div>
                    <div class="b-sidenav-wrapper_section-1__register">Register</div>
                </div>
                <div class="b-sidenav-wrapper_section-2">
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>Buy Crypto</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>Markets</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>Trade</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>Derivatives</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>Earn</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>Finance</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>NFT</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>Products</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>Theme</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>Downloads</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>English</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                    <div class="b-sidenav-wrapper_section-2__buy-crypto">
                        <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper">
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--1">
                                <div>USD</div>
                            </div>
                            <div class="b-sidenav-wrapper_section-2__buy-crypto-wrapper--2">
                                <span class="material-icons">expand_more</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="b-main">
            <section class="b-get_started">
                <div class="b-get_started--content">
                    <div class="b-get_started--content-text b-switch-color-theme">
                        Buy, trade, and hold 600+ Cryptocurrencies on Binance
                    </div>
                    <div class="b-get_started--content-box">
                        <input type="text"class="b-get_started-input"placeholder="Email/Phone number"/>
                        <div class="b-get_started-btn">Get Started</div>
                    </div>
                </div>
                <div class="b-get_started-img">
                </div>
            </section>
            <section class="b-stats">
                <div class="b-stats_data">
                    <div class="b-stats_data--exchange b-switch-color-theme">
                        <h1>$76 billion</h1>
                        <p>24h trading volume on Binance exchange</p>
                    </div>
                    <div class="b-stats_data--cryptocurrencies b-switch-color-theme">
                        <h1>600+</h1>
                        <p>Cryptocurrencies listed</p>
                    </div>
                    <div class="b-stats_data--registered b-switch-color-theme">
                        <h1>90 million</h1>
                        <p>Registered users who trust Binance</p>
                    </div>
                    <div class="b-stats_data--transaction b-switch-color-theme">
                        <h1>&#60;0.10%</h1>
                        <p>Lowest transaction fees</p>
                    </div>
                </div>
            </section>
            <section class="b-cryptocurrencies">
                <div class="b-cryptocurrencies-wrapper">
                    <div class="b-crypto b-switch-color-theme">
                        <h1 class="b-crypto--header">Popular cryptocurrencies</h1>
                        <div class="b-crypto--viewmarket">View more markets &nbsp; &#62;</div>
                    </div>
                    <div class="b-crypto--sub_headers b-switch-color-theme">
                        <div class="b-crypto--sub_header-name">Name</div>
                        <div class="b-crypto--sub_header-price">Last Price</div>
                        <div class="b-crypto--sub_header-change">24h Change</div>
                        <div class="b-crypto--sub_header-market">Market Cap</div>
                    </div>
                    <div class="b-crypto-coins">
                        <div class="b-crypto-coin">
                            <div class="b-coin"></div>
                            <div class="b-coin_name b-switch-color-theme">BNB</div>
                            <div class="b-coin_name_abr">BNB</div>
                        </div>
                        <div class="b-crypto-last_price b-switch-color-theme">$319.6</div>
                        <div class="b-crypto-change">-0.75%</div>
                        <div class="b-crypto-market b-switch-color-theme">$51,726M</div>
                    </div>
                    <div class="b-crypto-coins">
                        <div class="b-crypto-coin">
                            <div class="b-coin"></div>
                            <div class="b-coin_name b-switch-color-theme">Bitcoin</div>
                            <div class="b-coin_name_abr">BTC</div>
                        </div>
                        <div class="b-crypto-last_price b-switch-color-theme">$31,481</div>
                        <div class="b-crypto-change">-0.68%</div>
                        <div class="b-crypto-market b-switch-color-theme">$599,883M</div>
                    </div>
                    <div class="b-crypto-coins">
                        <div class="b-crypto-coin">
                            <div class="b-coin"></div>
                            <div class="b-coin_name b-switch-color-theme">Ethereum</div>
                            <div class="b-coin_name_abr">ETH</div>
                        </div>
                        <div class="b-crypto-last_price b-switch-color-theme">$1,928</div>
                        <div class="b-crypto-change">-2.39%</div>
                        <div class="b-crypto-market b-switch-color-theme">$233,293M</div>
                    </div>
                    <div class="b-crypto-coins">
                        <div class="b-crypto-coin">
                            <div class="b-coin"></div>
                            <div class="b-coin_name b-switch-color-theme">Project Galaxy</div>
                            <div class="b-coin_name_abr">GAL</div>
                        </div>
                        <div class="b-crypto-last_price b-switch-color-theme">$4.66</div>
                        <div class="b-crypto-change">-8.18%</div>
                        <div class="b-crypto-market b-switch-color-theme">$164M</div>
                    </div>
                    <div class="b-crypto-coins">
                        <div class="b-crypto-coin">
                            <div class="b-coin"></div>
                            <div class="b-coin_name b-switch-color-theme">Green Metaverse Token</div>
                            <div class="b-coin_name_abr">GMT</div>
                        </div>
                        <div class="b-crypto-last_price b-switch-color-theme">$1.14</div>
                        <div class="b-crypto-change">-4.34%</div>
                        <div class="b-crypto-market b-switch-color-theme">$684M</div>
                    </div>
                </div>
            </section>
            <section class="b-signup_box">
                <h1 class="b-signup_text b-switch-color-theme">Sign up now to build your own portfolio for free!</h1>
                <div class="b-signup-btn">Get Started</div>
            </section>

            <section class="b-crypto_portfolio">
                <div class="b-crypto_portfolio-content">
                    <div class="b-crypto_portfolio-header">
                        <h1 class="b-switch-color-theme">Build your crypto portfolio</h1>
                        <p class="b-switch-color-theme-light">Start your first trade with these easy steps.</p>
                    </div>
                    <div class="b-crypto_portfolio-account">
                        <div class="b-crypto_portfolio-account-img"></div>
                        <div class="b-crypto_portfolio-account-content">
                            <h1 class="b-switch-color-theme">Fund your account</h1>
                            <p class="b-switch-color-theme-light">Add funds to your crypto account to start trading crypto. You can add funds with a variety of payment methods.</p>
                        </div>
                    </div>
                    <div class="b-crypto_portfolio-identity">
                        <div class="b-crypto_portfolio-identity-img"></div>
                        <div class="b-crypto_portfolio-identity-content">
                            <h1 class="b-switch-color-theme">Verify your identity</h1>
                            <p class="b-switch-color-theme-light">Complete the identity verification process to secure your account and transactions.</p>
                        </div>
                    </div>
                    <div class="b-crypto_portfolio-trading">
                        <div class="b-crypto_portfolio-trading-img"></div>
                        <div class="b-crypto_portfolio-trading-content">
                            <h1 class="b-switch-color-theme">Start trading</h1>
                            <p class="b-switch-color-theme-light">You're good to go! Buy/sell crypto, set up recurring buys for your investments, and discover what Binance has to offer.</p>
                        </div>
                    </div>
                    <div class="b-crypto_portfolio-btn">
                        <div class="b-crypto_portfolio_btn-get_started">Get Started</div>
                    </div>
                </div>
                <div class="b-crypto_portfolio-img">
                </div>
            </section>

            <section class="b-explore">
                <div class="b-explore-header">
                    <h1 class="b-switch-color-theme">Explore endless possibilities with Binance</h1>
                </div>
                <div class="b-explore-cards">
                    <div class="b-explore-cards-1">
                        <div class="b-explore-cards-1-img">
                            <img src="./images/binance-explore-1.png"class="b-explore-cards-1-img-1">
                        </div>
                        <div class="b-explore-cards-content">
                            <div class="b-explore-cards-content-main">
                                <div class="b-explore-cards-content-main-box">
                                    <h1 class="b-switch-color-theme">Dive into the world of NFTs</h1>
                                    <p class="b-switch-color-theme-light">Open rare Mystery boxes, explore IGOs, Fan Tokens, and more with Binance NFT</p>
                                </div>
                                <div class="b-explore-cards-content--1--learn_more">Learn more &nbsp; &#62;</div>
                            </div>
                        </div>
                    </div>
                    <div class="b-explore-cards-2">
                        <div class="b-explore-cards-content">
                            <div class="b-explore-cards-content-main-2">
                                <div class="b-explore-cards-content-main-box-2">
                                    <h1 class="b-switch-color-theme">Grow your business with Binance pay</h1>
                                    <p class="b-switch-color-theme-light">Reach more customer as you pay and get into crypto with our borderless payment technology on Binance Pay &amp; Binance marketplace</p>
                                </div>
                                <div class="b-explore-cards-content--2--learn_more">Learn more &nbsp; &#62;</div>
                            </div>
                        </div>
                        <div class="b-explore-cards-2-img">
                            <img src="./images/binance-payexplore-2.png"class="b-explore-cards-2-img-2">
                        </div>
                    </div>
                    <div class="b-explore-cards-3">
                        <div class="b-explore-cards-3-img">
                            <img src="./images/binance-earn-explore-3.png"class="b-explore-cards-3-img-3">
                        </div>
                        <div class="b-explore-cards-content">
                            <div class="b-explore-cards-content-main-3">
                                <div class="b-explore-cards-content-main-box-3">
                                    <h1 class="b-switch-color-theme">Binance Earn</h1>
                                    <p class="b-switch-color-theme-light">Hold your crypto funds and start mining</p>
                                </div>
                                <div class="b-explore-cards-content--3--learn_more">Learn more &nbsp; &#62;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="b-trade">
                <div class="b-trade-section-1">
                    <div class="b-trade-section-1--header">
                        <h1 class="b-switch-color-theme">Trade on the go. Anywhere, anytime.</h1>
                        <div>More download options &nbsp; &#62; </div>
                    </div>
                    <div class="b-trade-section-1--sub-header b-switch-color-theme">Stay in the know with our app and desktop client.</div>
                </div>
                <div class="b-trade-section-2">
                    <div class="b-trade-section-2-image_container">
                        <div class="b-trade-section-2-image_container_img-1">
                            <div></div>
                        </div>
                        <div class="b-trade-section-2-image_container_img-2">
                            <div class="b-trade-section-2-image_container_img-2--download">
                                <div class="b-trade--download">
                                    <div class="b-trade--download-section_1">
                                        <div class="b-trade--download-section_1--scan_qrcode"></div>
                                        <div class="b-trade--download-section_1--scan_text">
                                            <p>Scan to download</p>
                                            <h2>ios &amp; Andriod</h2>
                                        </div>
                                    </div>
                                    <div class="b-trade--download-section_2">
                                        <div class="row">app store</div>
                                        <div class="row">android apk</div>
                                        <div class="row">google play</div>
                                        <div class="row">MacOS</div>
                                        <div class="row">Windows</div>
                                        <div class="row">Linux</div>
                                        <div class="row">API</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="b-trusted_crypto-exchange">
                <div class="b-trusted_crypto-exchange-section-1">
                    <div class="b-trusted_crypto-exchange-section-1--header">
                        <h1 class='b-switch-color-theme'>Your trusted crypto exchange</h1>
                        <div>Learn more &nbsp; &#62; </div>
                    </div>
                    <div class="b-trusted_crypto-exchange-section-1--sub-header b-switch-color-theme-light">Here at Binance, we are committed to user protection with strict protocols and industry-leading technical measures.</div>
                </div>
                <div class="b-trusted_crypto-exchange-section-2">
                    <div class="b-trusted_crypto-exchange-section-2_sub__section-1">
                        <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info">
                            <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info-1">
                                <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info-1--image"></div>
                                <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info-1--summary">
                                    <h1 class="b-switch-color-theme">Secure Asset Fund for Users (SAFU)</h1>
                                    <p class="b-switch-color-theme-light">Binance stores 10% of all trading fees in a secure asset fund to protect a share of user funds.</p>
                                </div>
                            </div>
                            <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info-2">
                                <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info-2--image"></div>
                                <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info-2--summary">
                                    <h1 class="b-switch-color-theme">Personalised Access Control</h1>
                                    <p class="b-switch-color-theme-light">Advanced access control allows you to restrict devices and addresses that can access your account, for greater ease of mind.</p>
                                </div>
                            </div>
                            <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info-3">
                                <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info-3--image"></div>
                                <div class="b-trusted_crypto-exchange-section-2_sub__section-1__info-3--summary">
                                    <h1 class="b-switch-color-theme">Advanced Data Encryption</h1>
                                    <p class="b-switch-color-theme-light">Your transaction data is secured via end-to-end encryption, ensuring that only you have access to your personal information.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-trusted_crypto-exchange-section-2_sub__section-2">
                        <div></div>
                    </div>
                </div>
            </section>

            <section class="b-need-help">
                <div class="b-need-help-section-1">
                    <div class="b-need-help-section-1--header">
                        <h1>Need Help?</h1>
                    </div>
                </div>
                <div class="b-need-help-section-2">
                    <div class="b-need-help-section-2__chat-support">
                        <div class="b-need-help-section-2__chat-support--img"></div>
                        <div class="b-need-help-section-2__chat-support--summary">
                            <h2>24/7 Chat Support</h2>
                            <p>Get 24/7 chat support with our friendly customer service agents at your service.</p>
                            <div>Chat now ></div>
                        </div>
                    </div>
                    <div class="b-need-help-section-2__faqs">
                        <div class="b-need-help-section-2__faqs--img"></div>
                        <div class="b-need-help-section-2__faqs--summary">
                            <h2>FAQs</h2>
                            <p>View FAQs for detailed instructions on specific features.</p>
                            <div>Learn more ></div>
                        </div>
                    </div>
                    <div class="b-need-help-section-2__blog">
                        <div class="b-need-help-section-2__blog--img"></div>
                        <div class="b-need-help-section-2__blog--summary">
                            <h2>Blog</h2>
                            <p>Stay up to date with the latest stories and commentary.</p>
                            <div>Learn more ></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="b-start-earning-today">
                <h1 class="b-start-earning_today--header">
                    Start Earning Today
                </h1>
                <div class="b-start-earning_today--signup">Sign Up Now</div>
            </section>
        </main>
    </div>

    <div class="b-binance-chat">
        <span class="material-icons binance-chat-icon">chat</span>
        <div class="b-binance-chat-text">Support</div>
    </div>
    
</body>
<script src="main.js"></script>
</html>